09_DE_univariate_top500.tsv filter=lfs diff=lfs merge=lfs -text
10_DE_univariate_top1000.tsv filter=lfs diff=lfs merge=lfs -text
11_Common_Top500_All_Methods.tsv filter=lfs diff=lfs merge=lfs -text
03_DE_ttest_top500.tsv filter=lfs diff=lfs merge=lfs -text
07_DE_byTimepoint_top500.tsv filter=lfs diff=lfs merge=lfs -text
13_Common_Top500_3_Methods.tsv filter=lfs diff=lfs merge=lfs -text
05_DE_anova_top500.tsv filter=lfs diff=lfs merge=lfs -text
07_DE_byInteraction_top500.tsv filter=lfs diff=lfs merge=lfs -text
08_DE_byCondition_top1000.tsv filter=lfs diff=lfs merge=lfs -text
08_DE_byTimepoint_top1000.tsv filter=lfs diff=lfs merge=lfs -text
01_Top50_variable_genes.tsv filter=lfs diff=lfs merge=lfs -text
04_DE_ttest_top1000.tsv filter=lfs diff=lfs merge=lfs -text
07_DE_byCondition_top500.tsv filter=lfs diff=lfs merge=lfs -text
08_DE_byInteraction_top1000.tsv filter=lfs diff=lfs merge=lfs -text
12_Common_Top500_ttest_anova_oneway.tsv filter=lfs diff=lfs merge=lfs -text
14_Common_Top500_All_Methods_Effects.tsv filter=lfs diff=lfs merge=lfs -text
02_Least50_variable_genes.tsv filter=lfs diff=lfs merge=lfs -text
06_DE_anova_top1000.tsv filter=lfs diff=lfs merge=lfs -text
